/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --blue-light2: #C9E3FF;
    --blue-light: #A6CCF4;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17A2B8;
    --white: #fff;
    --gray-light2: #6F6F6F;
    --gray-light: #4d4d4d;
    --gray: #3d3d3d;
    --gray-dark: #333;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --input-border: #666;
    --input-bg: #4d4d4d;
    --green-bar: #309F39;
    --no-comm: #2C444C;
    --alarm: #902934;
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-Regular.ttf);
}

body {
    background-color: var(--gray-light);
    color: var(--white);
    font-family: Montserrat;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: var(--blue-light);
}

    a:hover {
        color: var(--blue-light2);
    }

input {
    border: 1px solid var(--input-border);
    background-color: var(--input-bg);
    color: var(--white);
}

.site-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border: 1px solid var(--input-border);
    background-color: var(--input-bg);
    color: var(--white);
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid;
    border-top-color: var(--gray-light2) !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Site
-------------------------------------------------- */

.content-overlay{

}

.main-content {
    padding: 16px;
}

.top-content {
    position: static;
}

.top-content-relative {
    position: relative;
}

.top-content-background {
    position: absolute;
    font-size: 5rem;
    opacity: .5;
    z-index: -1;
    top: -1.5rem;
    left: 0;
}

.top-content-background i {
    color: var(--gray);
}

.top-content-foreground {
    background-color: transparent;
    position: relative;
    z-index: 10;
}

.bg-site-dark {
    background-color: var(--gray);
}

.bg-nav-dark {
    background-color: var(--gray-dark);
}

.bg-site-green {
    background-color: var(--green);
}

.bg-site-orange {
    background-color: var(--orange);
}

.bg-site-no-comm {
    background-color: var(--no-comm);
}

.table-alarm-indicator {
    border-style: solid;
    border-width: 0.25rem;
    border-color: var(--alarm);
}

.logo-icons {
    font-size: 10rem;
    margin: 0 auto;
}

.logo-icons i {
    color: var(--gray-dark);   
}

.github-icon {
    font-size: 5rem;
    margin: 0 auto;
}

.github-icon i {
    color: var(--gray-dark);
}

.status-bar-icon {
    font-size: 2.5rem;
    display: inline;
}

.status-bar-icon i {
    color: var(--white);
}

.dot {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 24px;
    border: 1px solid var(--gray-light2);
    border-radius: 50%;
    text-align: center;
    position: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--gray-light2);
}

.dotBackgroundTrue {
    background-color: var(--orange);
}

.dotTextCenterDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.valuebar{
    position: relative;
    justify-content: center;
}

.valuebar-progress {
    height: 1.5rem;
    font-size: 1rem;
    background-color: var(--gray-dark);
}

.valuebar-value-wrapper {
    position: absolute;
    align-content: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.valuebar-value {

}

.asset-table-cell {
    padding: 0px;
}

.asset-table-cell-div-alarm {
    margin: 0px;
}

.asset-table-cell-div-inner {
    margin: 8px;
}

.no-hover{
    box-shadow: none;
}





