@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Asset Monitor</h1>
    <p>Assets monitoring software in ASP.NET Core.</p>
</div>
<div class="center-div">
    <div class="logo-icons">
        <i class="fas fa-server"></i>
        <i class="fas fa-desktop"></i>
        <i class="fas fa-network-wired"></i>
    </div>
</div>


