@model AspMVC_Monitor.Models.MonitorViewModel
@{
    ViewData["Title"] = "Monitor";
}

<div class="content-overlay">
    <div class="top-content">
        <div class="top-content-relative">
            <div class="top-content-foreground">
                <h4>@ViewData["Title"]</h4>
                <br />
                <br />
            </div>
            <div class="top-content-background">
                <i class="fas fa-network-wired"></i>
            </div>
        </div>
    </div>
    <div class="main-content bg-site-dark rounded">
        <div id="buttonsTagSets" style="margin: 1rem 0 1rem 0">
            Columns set:
            @foreach (var a in Model.TagSets)
            {
                <button type="button" class="btn btn-info" style="margin-left: 0.5rem;"
                        value="@a.Id">
                    @a.Name
                </button>
            }
        </div>
        <div>
            <div class="status-bar-icon">
                <i class="far fa-check-circle"></i>
                <button type="button" class="btn btn-success">
                    Ok 
                    <span class="badge badge-light" id="statusBarAssetsOkCnt"></span>
                </button>
            </div>
            <div class="status-bar-icon">
                <i class="far fa-bell"></i>
                <button type="button" class="btn btn-danger">
                    Alarm
                    <span class="badge badge-light" id="statusBarAssetsAlarmCnt"></span>
                </button>
            </div>
        </div>
        <table id="tableAssets" class="asset-table table bg-site-dark table-dark table-bordered table-responsive table-hover">
            <thead>
                <tr class="bg-nav-dark no-hover">
                    <th>Name</th>
                    <th>IP Address</th>
                    <th>Alarm</th>
                </tr>
            </thead>
            <tbody>
                @* Javascript generated *@
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script type="module" src="~/js/monitor.js"></script>
}
