@{
    ViewData["Title"] = "Repository";
}

<div class="content-overlay">
    <div class="top-content">
        <div class="top-content-relative">
            <div class="top-content-foreground">
                <h4>@ViewData["Title"]</h4>
                <br />
                <br />
            </div>
            <div class="top-content-background" style="margin-top: 2.5rem;">
                <i class="fab fa-github"></i>
            </div>
        </div>
    </div>
    <h4 style="margin-top: 2.5rem;">
        <a href="https://github.com/BartK1990/AssetMonitorNET" target="_blank" rel="noopener noreferrer">GitHub Asset Monitor NET</a>
    </h4>
</div>

