@{
    ViewData["Title"] = "Repository";
}

<div class="center-div">
    <div class="text-center">
        <div class="content-overlay">
            <div class="top-content">
                <h4>@ViewData["Title"]</h4>
                <div class="github-icon">
                    <i class="fab fa-github"></i>
                </div>
            </div>
            <h4>
                <a href="https://github.com/BartK1990/AssetMonitorNET" target="_blank" rel="noopener noreferrer">GitHub Asset Monitor NET</a>
            </h4>
        </div>
    </div>
</div>

