@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav id="navbarConfiguration" class="navbar navbar-dark bg-nav-dark navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Configuration">Configuration</a>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ConfigApplicationPropertyValues" asp-action="Index">App Properties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ConfigAssets" asp-action="Index">Assets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ConfigAssetPropertyValues" asp-action="Index">Assets Properties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ConfigTags" asp-action="Index">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ConfigAssetTagRanges" asp-action="Index">Tags Ranges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ConfigAlarmTagConfigs" asp-action="Index">Tags Alarms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ConfigHistoricalTagConfigs" asp-action="Index">Tags History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ConfigTagSharedSets" asp-action="Index">Shared Tags Sets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ConfigTagsShared" asp-action="Index">Shared Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ConfigUserEmailAddressSets" asp-action="Index">Email Sets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ConfigUserEmailAddresses" asp-action="Index">Email Addresses</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="main-content bg-site-light rounded">
        @RenderBody()
    </div>
</div>

@RenderSection("Scripts", required: false)

