@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav id="navbarConfiguration" class="navbar navbar-dark bg-nav-dark navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Configuration" asp-action="Index">Configuration</a>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @*<li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Assets" asp-action="Index">Assets</a>
                </li>*@
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    @RenderBody()
</div>

